<!-- <button (click)="toggleShowTable()" class="btn btn-primary" (click)="changeText()">{{btnVal}}</button>
<br><br> -->



<emp-count [allCount]="getTotalEmployeeCount()"
[maleCount]="getTotalmaleCount()"
[femaleCount]="getTotalfemaleCount()"
(rbselectionChange)="gettingSelectedRadioButtonValue($event)"
[ContractualCount]="getTotalContratualCount()"
[PermanantCount]="getTotalPermanentCount()"
(slselectionChange)="gettingSelectedRadioButtonValue1($event)"></emp-count><br>
<br>
<!-- <button (click)="toggleShowTable1()" class="btn btn-primary" (click)="changeText1()">{{btnVal1}}</button>
<br>
<br>  -->
<!-- <dept-count [TotalCount]="getTotalDepartmentCount()"
[HRCount]="getTotalHRCount()" 
[TechnicalCount]="getTotalTechnicalCount()"
(rbselectionChange1)="gettingSelectedRadioButtonValuedept($event)"
></dept-count> -->



<!-- <div class="col-md-6">
<table class="table table-bordered" border="1" *ngIf ='showEmpTable'>
    <tr *ngIf="employees.length>0">
        <th>Employee Code</th>
        <th>Full Name</th>
        <th>Gender</th>
        <th>Annual Salary</th>
    </tr>
    <ng-container *ngFor='let emp of employees'>
        <tr  *ngIf="selectedRbValue=='All' || emp.gender==selectedRbValue" >
        <td>{{emp.code}}</td>
        <td>{{emp.name | EmployeeGender:emp.gender}}</td>
        <td>{{emp.gender}}</td>
        <td>{{emp.salary}}</td>
    </tr>
</ng-container>
    <tr *ngIf="employees.length==0">
        <td colspan="4"> Employees record not found</td>

    </tr>
</table> -->

<table class="row" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> Firstname </th>
      <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="middlename">
      <th mat-header-cell *matHeaderCellDef>Middlename</th>
      <td mat-cell *matCellDef="let element"> {{element.middlename}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef>Lastname </th>
      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="UserType">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.UserType}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>



  <div *ngIf="selectedRbValue=='Female'">
    <table class="row" mat-table [dataSource]="femalee" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        
        <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef> Firstname </th>
          <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="middlename">
          <th mat-header-cell *matHeaderCellDef>Middlename</th>
          <td mat-cell *matCellDef="let element"> {{element.middlename}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef>Lastname </th>
          <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>
    
        <ng-container matColumnDef="UserType">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.UserType}} </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      </table>

  </div>

  <div *ngIf="selectedRbValue=='Male'">
    <table class="row" mat-table [dataSource]="malee" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        
        <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef> Firstname </th>
          <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="middlename">
          <th mat-header-cell *matHeaderCellDef>Middlename</th>
          <td mat-cell *matCellDef="let element"> {{element.middlename}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef>Lastname </th>
          <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>
    
        <ng-container matColumnDef="UserType">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.UserType}} </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      </table>

  </div>

  <div *ngIf="selectedRbValuetype =='Contractual'">
    <table class="row" mat-table [dataSource]="contr" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        
        <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef> Firstname </th>
          <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="middlename">
          <th mat-header-cell *matHeaderCellDef>Middlename</th>
          <td mat-cell *matCellDef="let element"> {{element.middlename}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef>Lastname </th>
          <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>
    
        <ng-container matColumnDef="UserType">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.UserType}} </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      </table>
      </div>

      <div *ngIf="selectedRbValuetype =='Permanant'">
        <table class="row" mat-table [dataSource]="perm" class="mat-elevation-z8">
    
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            
            <ng-container matColumnDef="firstname">
              <th mat-header-cell *matHeaderCellDef> Firstname </th>
              <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="middlename">
              <th mat-header-cell *matHeaderCellDef>Middlename</th>
              <td mat-cell *matCellDef="let element"> {{element.middlename}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef>Lastname </th>
              <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef> Gender </th>
              <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
            </ng-container>
        
            <ng-container matColumnDef="UserType">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.UserType}} </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
          </table>
          </div>

<!-- <table  class="table table-bordered" border="1" *ngIf="showDeptTable">
    <tr>
        <th>Department Name</th>
        <th>Designation</th>
    </tr>
    <ng-container *ngFor="let dept of department">
    <tr *ngIf="selectedRbValuedept=='Total' || dept.department_name==selectedRbValuedept">
        <td>{{dept.department_name |DepartmentTitle:dept.Designation}}</td>
        <td>{{dept.Designation}}</td>

    </tr>
</ng-container>
    <tr *ngIf="department.length==0">
        <td colspan="2">No department is available</td>

    </tr>
</table> -->