<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


  
    <!-- <emp-list></emp-list> -->
   <!-- <h1>Employee Details</h1>
   <input type="text" [(ngModel)]="userInput">
   <simple [title]='userInput'></simple> --> 
   <!-- <app-content-projection>Submit</app-content-projection>
   <app-content-projection>Submit Again</app-content-projection>
   <app-content-projection>Confirm</app-content-projection>
   <app-content-projection> <header>
      <input type="text" value="Tom">
  </header></app-content-projection>
  <app-content-projection><div class="header1">
   This is my class header content.
</div>
<div class="header1">
   This is my class header content.
</div>
</app-content-projection> -->
<!-- <temp-form></temp-form> -->
<!-- <app-account></app-account>
<app-hr></app-hr>
<app-employee1></app-employee1> -->

